<div class="page-title">
  <div class="sign-up">
    <h1><%= @listing.title %></h1>
  </div>
</div>
<div class="container">
  <div>
    <h1><%= @listing.title %></h1>
    <p><%= @listing.description %></p>
    <% @listing.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>

    <%# current user can request this item %>
    <%# <%= link_to "I want this!", listing_requests_path(@listing) %>

  </div>

  <%= link_to "Keep browsing", listings_path %>

</div>
