<div class="container">
  <div class="right-side">
    <%# title %>
    <div class="header">
      <h1><%= @listing.title %></h1>
    </div>
    <div>
      <h3>size:</h3>
      <h3>categories:</h3>
    </div>
    <div class="card-owner">
      <h2><%= @listing.user.first_name %></h2>
      <br>
      <% if @listing.user.listings.count == 1 %>
      <p><bold><%= @listing.user.listings.count %></bold> item in their closet</p>
      <% else %>
      <p><bold><%= @listing.user.listings.count %></bold> items in their closet</p>
      <% end %>
         <%= cl_image_tag(
      @listing.user.photo.key,
      gravity: "face",
      width: 50,
      height: 50,
      crop: :fill,
      class: "avatar-bordered card"
     ) %>
      <button type="button" class="btn btn-outline-success"><%= link_to "View Closet", listings_path %></button>
    </div>
  </div>


  <%# carousel %>
  <%= render "listings/carousel" %>

  <%#  %>

  <%# link to listings index page %>
  </div>
    <button type="button" class="btn btn-outline-primary"><%= link_to "Keep browsing", listings_path %></button>
  </div>

</div>
