<div class="card" style="width: 18rem;">
  <img src=<%= listing.photo %> class="card-img-top" alt=<%= listing.title %>>
  <div class="card-body">
    <h5 class="card-title"><%= listing.title %></h5>
    <p class="card-text"><%= listing.description %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%= listing.condition %></li>
    <li class="list-group-item"><%= listing.category %></li>
    <%# use the third space to link to the user's profile %>
    <%# <li class="list-group-item">A third item</li> %>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
